general
front/client/node_modules
back/node_modules
front/client/public/img
front/client/public/perk-images
front/client/public/ranked-emblems
front/client/public/champion
back/.env
front/client/build/

