body{
  background: rgba(27,38,44, 1);
}

#searchBoxContainer {
  margin-top: 200px;
}

.field > input {
  max-width: 400px;
  margin-left: auto;
}

.field > a {
  margin-right: auto;
}

#summCard {
  max-width: 200px;
}


 .column >.container{
  background: #0F4C75;
  border-radius: 1em;
  box-shadow: 3px 3px 10px 1px rgb(0, 0, 0);

}



/* .column > .px-6 > .columns{
  max-width: 1000px;
} */

.column > .px-6 > .columns > .column > .container {
  background: rgba(232,69,69, .8);
  max-width: 200px;
}

.mt-5 > .container{
  max-width: 700px;

}



.column{
  max-width: 1000px;
}



td >.columns,.item-column{
  min-width: 150px;
  max-width: 150px;

}

tr{
  background: rgba(187,225,250, .8);

}

table{
  margin: auto;
}

.win{
  background: #0ec917;
  border-radius: 1em 0 0 1em;
}

.lose{
  background: #b90808;
  border-radius: 1em 0 0 1em;
  max-width: 1px;
}

.mscard{
  background:#0F4C75;
}

.date{
  position: absolute;
  top: 3px;
}

.transparent{
  opacity: .6;
}
