/* html{
  height: 100%;
} */

body{
  min-height: 100vh;
  background: rgba(27,38,44, 1);
}

.navbar,.navbar-menu { 
  background-color: #66a2ba;
}

.navbar-input {
  max-width: 300px;
}

.main-color{
  background-color: #0F4C75!important;
  color: white!important;
}

#searchBoxContainer {
  margin-top:35vh;
}

.searchbox-form{
  min-width: 40%;
}

.searchbox-control{
  width: 80%;
}

.field > input {
  max-width: 400px;
  margin-left: auto;
}

.field > a {
  margin-right: auto;
}

#summCard {
  max-width: 200px;
}


 .column >.container{
  background: #0F4C75;
  border-radius: 1em;
  box-shadow: 3px 3px 10px 1px rgb(0, 0, 0);

}



/* .column > .px-6 > .columns{
  max-width: 1000px;
} */

.column > .px-6 > .columns > .column > .container {
  background: rgba(232,69,69, .8);
  max-width: 200px;
}

.mt-5 > .container{
  max-width: 700px;

}



.column{
  max-width: 1000px;
}



td >.columns,.item-column{
  min-width: 150px;
  max-width: 150px;

}

tr, td{
  border-radius: 10px;
}

td {
  vertical-align: middle !important;
}
tr:nth-child(odd) {background-color: rgb(142, 204, 245);}
tr:nth-child(even) {background-color: rgba(187,225,250);}

table{
  margin: auto;
  border: 5px solid;
  border-color: #0F4C75;
}

.win{
  background: #0ec917;
  border-radius: 1em 0 0 1em;
}

.lose{
  background: #b90808;
  border-radius: 1em 0 0 1em;
  max-width: 1px;
}

.mscard{
  background:#0F4C75;
}

.date{
  position: absolute;
  top: 3px;
}

.transparent{
  opacity: .6;
}

a:link,a:visited{
  color: black;
}

.win-row{
  background-color: #0ec917;
  max-width: 7px;
}

.lose-row{
  background-color:#b90808;
  max-width: 7px;
}

.champ-list > li > a {
  color: white;
}

.tab-container{
  padding-left: 20px;
  padding-right: 20px;
}

.chart-container{
  max-width: 300px;
}

.alert{
  color:red;
}

.clickable{
  cursor: pointer;
}

.played-with{
  margin: auto;
  width: 275px;
}

.chart-container{
  margin: auto;
}

.champion-details-img{
  margin: auto;
}

.logo{
  width: 96px;
}
